@charset "UTF-8";
:root {
  /*--rgba-primary-0: rgb(59, 113, 151); /* darkest - page background*/
  --rgba-primary-0: rgb(35,95,137);
  --rgba-primary-1: rgb(91,140,175); /* lighter */
  --rgba-primary-2: rgb(141,181,209); /* even lighter */

  --rgba-complement-0:rgba( 64, 33,  3,1); /* Darkest */
  --rgba-complement-1:rgba(255, 198, 124,1);
  --rgba-complement-2:rgba(255, 217, 167,1);

  --gradient1-l: rgba(64, 33, 3,.1);
  --gradient1-r: rgba(64, 33, 3,.5);

  --gradient2-l: rgba(91,140,175,.9);
  --gradient2-r: rgba(91,140,175,.7);

  --colorcard: rgba(255, 255, 255,.8); /* card background */
  --colortext: rgba(255, 255, 255,.9);
  --textshadow: 1px 1px 2px black;
}
.navbar, .card-header{
  background-image: linear-gradient(90deg, var(--gradient1-l), var(--gradient1-r)),
  linear-gradient(90deg, var(--gradient2-l), var(--gradient2-r));
  background-color: rgba(255, 255, 255,.5);
}
.gradient-back, .box2{
  background-image: linear-gradient(90deg, var(--gradient1-l), var(--gradient1-r)),
  linear-gradient(90deg, var(--gradient2-l), var(--gradient2-r)), url('/static/img/6.jpg');
  background-size: cover;
}

body{
  background-color: var(--rgba-primary-0);
}
a{
  color: var(--rgba-primary-1);
}
a:hover, a:active{
  color: var(--rgba-primary-0);
}
.btn-outline-dark {
  color: var(--rgba-primary-0);
  border-color: var(--rgba-primary-0);
}
.btn-outline-dark:hover, .btn-outline-dark:active{
  background-color: var(--rgba-primary-2);
  border-color: var(--rgba-primary-1);
}
a.headertext:hover,
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus,
.btn-outline-dark:hover, .btn-outline-dark:active{
  color:var(--rgba-primary-0);
  text-shadow: 1px 1px 2px var(--colorcard);
}
